body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #ecdacd;
  margin: 0;
  color: #333;
  line-height: 1.6;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  background: #FFEC9E;
  color: #333;
  z-index: 1000;
}

nav.top-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0 20px;
  background-color: #a7601f;
}

nav.top-nav ul .logo img {
  height: 60px;
  width: 150px;
}

nav.top-nav ul li {
  margin: 0 10px;
}

nav.top-nav ul li a, .dropbtn {
  color: #000000;
  text-decoration: none;
  padding: 10px 15px;
  transition: color 0.3s ease;
  font-family: courier;
  font-style: bold;
  font-weight: bolder;
  font-size: 20px;
}

nav.top-nav ul li a:hover, .dropdown:hover .dropbtn {
  color: #ffffff;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #a7601f;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 2px;
}

.dropdown:hover .dropdown-content {
  display: block;
} 

.dropdown-content a {
  color: #000000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #a7611fda;
}

/* Foodart Section */
.foodart { 
  background-color: white;
  background-size: cover;
  background-position: center;
  max-height: max-content;
  min-height: 130vh;
}

/* Flip Box */
.flip-box {
  background-color: transparent;
  width: 350px;
  height: 280px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  float: right;
  margin: 15px; 
  margin-bottom: 5%;
  margin-right: 6%;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateX(180deg);
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Front side of flip box with image */
.flip-box-front {
  background-color: #bbb;
  color: black;
  overflow: hidden; /* Ensures no overflow outside the box */
}

.flip-box-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire front side */
}

/* Back side of flip box */
.flip-box-back {
  background-color: rgba(255, 157, 0, 0.918);
  color: white;
  transform: rotateX(180deg);
  font-family: sans-serif;
  text-align: justify;
  padding: 10px;
}

/* Container to hold the flip boxes */
.flip-box-container {
  text-align: right;
  margin-right: 4px;
}

/* Clear floats after the flip boxes */
.flip-box-container::after {
  content: "";
  display: block;
  clear: both;
}
footer{
  background-color: #CD5700;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

h2 {
  font-family: courier;
  font-size: 16px;
}

h3 {
    margin-top: 2cm;
    font-family: courier;
    font-size: 30px;
    font-weight: bolder;
}

h5 {
  font-family: courier;
  font-size: 12px;
}